body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

h1,
h2,
h3 {
    font-weight: 300;
}

/*p {
    font-size: small;
    font-weight: normal;
    line-height: 20px;
}*/

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    border-radius: 0;
    padding-left: 4em;
}

.banner {
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 140px;
}
.exec-banner{
    background-image: url('assets/exec_banner.png');
}
.gas-banner {
    background-image: url('assets/gas_banner.png');
}

.oil-banner {
    background-image: url('assets/oil_banner.png');
    background-position: right;
}

.coal-banner {
    background-image: url('assets/coal_banner.png');
}

.uranium-banner {
    background-image: url('assets/uranium_banner.png');
}

.banner-title {
    color: white;
    font-size: xx-large;
    padding: 1.5em 2em;
}

main {
    padding-bottom: 5em;
}

article {
    width: 65%;
    margin: 0 auto;
}

article>section {
    clear: both;
    padding-top: 3em;
}

.modal-dialog {
    margin-top: 15%;
    width: 825px
}

.carousel-control.right {
    right: -100px;
}

.carousel-control.left {
    left: -100px;
}

aside {
    float: right;
    padding-left: 2em;
    width: 250px;
    height: 250px;
}

aside p {
    font-size: smaller;
}

.image {
    width: 200px;
    height: auto;
    margin: 2em;
    display: inline-block;
}

.carousel-inner>div {
    text-align: center;
}

.gallery {
    text-align: center;
    /*display: flex;*/
}

.table {
    display: table;
    empty-cells: hide;
    background: #006983;
    border-bottom: 1px solid #ddd;
}

.tr {
    display: table-row;
    border-bottom: 1px solid #ddd;
    background: white;
}

.tr:nth-child(odd) {
    background: #efefef;
}

.thead {
    display: table-header-group
}

.tbody {
    display: table-row-group
}

.tfoot {
    display: table-footer-group
}

.col {
    display: table-column
}

.colgroup {
    display: table-column-group
}

.td,
.th {
    display: table-cell;
    padding: .4em;
    line-height: 1.42857143;
}

.tr>.td:first-child {
    background: #006983;
    color: white;
    padding-left: 1em;
    border-top: 1px solid white;
}

.tr>.td:nth-child(2) {
    text-align: center;
}

.th>hr {
    margin: .5em 0 0 0;
}

.th>span,
.td>span {
    display: inline-block;
    text-align: center;
}

#summary>.table .th>span,
#summary>.table .td>span {
    width: 45%;
}

#prospective>.table .th>span,
#prospective>.table .td>span {
    width: 24%;
}

.image img:hover {
    cursor: pointer;
}

.summary-image:hover {
    cursor: pointer;
}

.th .number {
    padding-top: 1em;
    border-top: none;
}

.table-caption {
    display: table-caption;
    text-align: center;
    margin: 1em;
    font-weight: bold;
}

.th {
    background-color: #006983;
    color: white;
    text-align: center;
}

.excel:before {
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
    display: inline-block;
    content: "";
    margin: 0 1em;
    background-image: url('assets/excel_logo.svg');
    vertical-align: middle;
}

.basin-name {
    width: 20%;
}

.number {
    width: 5%;
    text-align: center;
}

span.number {
    padding-top: 0;
    border-bottom: none;
}

#references li {
    margin-left: -2em;
}

.item.active img {
    margin: 0 auto;
}

section[data-field="Resource type"] {
    width: 10%;
}
.row section.tcf {
    width: 50%;
}
.caption p, .summary-caption p  {
    margin-top: 1em;
    font-weight: 400;
    font-style: italic;
    font-size: smaller;
    line-height: 1em;
     display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}
#references a{
    background: transparent url('/assets/external-link.png') no-repeat 100% 50%;
    padding-right: 12px;
}