body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-weight: 300;
}

p {
    font-size: small;
    font-weight: normal;
    line-height: 20px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    border-radius: 0;
    padding-left: 4em;
}

.banner {
    margin: 0;
    padding: 0;
    background-position: top left;
    background-size: cover;
    height: 140px;
}

.gas-banner {
    background-image: url('assets/gas_banner.png');
}

.oil-banner {
    background-image: url('assets/oil_banner.png');
}

.coal-banner {
    background-image: url('assets/coal_banner.png');
}

.uranium-banner {
    background-image: url('assets/uranium_banner.png');
}

.banner-title {
    color: white;
    font-size: xx-large;
    padding: 1.5em 2em;
}

main {
    padding-bottom: 5em;
}

article {
    width: 65%;
    margin: 0 auto;
}

article>section {
    clear: both;
    padding-top: 5em;
}

.modal-dialog {
    margin-top: 10%;
    width: 825px
}

.carousel-control.right {
    right: -100px;
}

.carousel-control.left {
    left: -100px;
}

aside {
    float: right;
    padding-left: 2em;
    width: 250px;
    height: 250px;
}



aside p {
    font-size: smaller;
}

.image {
    width: 200px;
    height: auto;
    margin: 1em;
    display: inline-block;
}

.carousel-inner {
    text-align: center;
}

.gallery {
    text-align: center;
    /*display: flex;*/
}

.table {
    display: table;
    empty-cells: hide;
    background: #006983;
    border-bottom: 1px solid #ddd;
}

.tr {
    display: table-row;
    border-bottom: 1px solid #ddd;
    background: white;
}

.tr:nth-child(odd) {
    background: #efefef;
}

.thead {
    display: table-header-group
}

.tbody {
    display: table-row-group
}

.tfoot {
    display: table-footer-group
}

.col {
    display: table-column
}

.colgroup {
    display: table-column-group
}

.td,
.th {
    display: table-cell;
    padding: .4em;
    line-height: 1.42857143;
}

.tr>.td:first-child {
    background: #006983;
    color: white;
    padding-left: 1em;
    border-top: 1px solid white;
}

.tr>.td:nth-child(2) {
    text-align: center;
}

.th>hr {
    margin: .5em 0 0 0;
}

.th>span,
.td>span {
    display: inline-block;
    text-align: center;
}

#summary>.table .th>span,
#summary>.table .td>span {
    width: 45%;
}

#prospective>.table .th>span,
#prospective>.table .td>span {
    width: 24%;
}

.image img:hover {
    cursor: pointer;
}
.summary-image:hover {
    cursor: pointer;
}

.th .number {
    padding-top: 1em;
    border-top: none;
}

.table-caption {
    display: table-caption;
    text-align: center;
    margin: 1em;
    font-weight: bold;
}

.th {
    background-color: #006983;
    color: white;
    text-align: center;
}

.excel:before {
    width: 2em;
    height: 2em;
    background-size: 2em 2em;
    display: inline-block;
    content: "";
    margin: 0 1em;
    background-image: url('assets/excel_logo.svg');
    vertical-align: middle;
}

.basin-name {
    width: 20%;
}


/*.resource-type {
    width: 20%;
}*/

.number {
    width: 5%;
    text-align: center;
}

span.number {
    padding-top: 0;
    border-bottom: none;
}

#references li {
    margin-left: -2em;
}


/*
.table{
  display: table;
  width: 80%;
}
.table > section.row.thead{
  background: #006983;
  color: white;
  font-size: .8em;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
section.row.thead >span{
  display: table-cell;
}
.tblData{
  width:20px;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
  width:80%;
}
.thead{
  background: #006983;
  color: white;
  font-size: .8em;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.row{
  width: 80%;
  display: table-row;
}

.row section{
  display: table-cell;
  width: 8%;
  border-bottom: 1px solid lightgray;
  padding: .5em;
}
section[data-field="Basin Name"]{
  /*display: none;*/

background: #006983;
color: white;

}
section[data-field="Resource type"] {
    width: 10%;
}
.row section.tcf {
    width: 50%;
}
.caption {
    margin-top: 2em;
    font-weight: 400;
}
.summary-caption{
    font-style: italic;
    font-size: smaller;
}