body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1, h2, h3{
  font-weight: 300;
}
p{
  font-size: small;
  font-weight: normal;
  line-height: 20px;
}
aside {
    float:right;
    padding-left: 2em;
    width: 250px;
}
aside img{
    width: 200px;
    height:200px;
}
aside p{
    font-size: smaller;
}
.image{
  width: 250px;
  height:auto;
  margin: 1em;
  flex: auto;

}
.gallery{
  text-align: center;
  display: flex;
}
main{
  padding-bottom:5em;
}
article > section{
  clear: both;
  padding-top: 5em;
}

.table    { display: table;  empty-cells: hide; border-bottom: 1px solid #ddd; }
.tr       { display: table-row;
border-bottom: 1px solid #ddd; }
.thead    { display: table-header-group }
.tbody    { display: table-row-group }
.tfoot    { display: table-footer-group }
.col      { display: table-column }
.colgroup { display: table-column-group }
.td, .th   { 
  display: table-cell;
  padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;
  }
.td .td   { 
border-top: none;
}
.th .number{
    padding-top: 1em;
    border-top: none;
} 
/*.caption  { display: table-caption }*/
.th{
  background-color: #006983;
  color: white;
}
.basin-name{
  width: 20%;
}
.resource-type{
  width: 20%;
}
.number{
  width: 5%;
  text-align: center;
} 
span.number{
  padding-top: 0;
  border-bottom: none;
}
#references li{
  margin-left: -2em;
}

/*
.table{
  display: table;
  width: 80%;
}
.table > section.row.thead{
  background: #006983;
  color: white;
  font-size: .8em;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
section.row.thead >span{
  display: table-cell;
}
.tblData{
  width:20px;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
  width:80%;
}
.thead{
  background: #006983;
  color: white;
  font-size: .8em;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.row{
  width: 80%;
  display: table-row;
}

.row section{
  display: table-cell;
  width: 8%;
  border-bottom: 1px solid lightgray;
  padding: .5em;
}
section[data-field="Basin Name"]{
  /*display: none;*/
  background: #006983;
  color: white;
}
section[data-field="Resource type"]{
  width: 10%;
}
.row section.tcf{
  width: 50%;
}
.caption{
  font-style: italic;
  font-size: smaller;

}*/
